@model StomatoloskaOrdinacija.Domain.DTOs.NarudzbaDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NarudzbaDTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vrijeme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vrijeme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dolazak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dolazak)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
