@model IEnumerable<StomatoloskaOrdinacija.Domain.DTOs.CijenaZahvataDTO>

@{
    ViewBag.Title = "Popis cijena zahvata";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Nova cijena zahvata", "Izradi", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cijena)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cijena)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Uredi", new { id=item.ID }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Izbriši", "Izbrisi", new { id=item.ID }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
