@model StomatoloskaOrdinacija.Domain.DTOs.PacijentDTO

@{
    ViewBag.Title = "Detalji";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Pacijent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumRodjenja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumRodjenja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Uredi", "Uredi", new { id = Model.ID }, new { @class = "btn btn-default" }) |
    @Html.ActionLink("Povratak na popis", "Popis", null, new { @class = "btn btn-default" })
</p>
