@model IEnumerable<StomatoloskaOrdinacija.Domain.DTOs.ZahvatDTO>

@{
    ViewBag.Title = "Popis zahvata";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Novi zahvat", "Izradi", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sifra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cijena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trajanje)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sifra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cijena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trajanje)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Uredi", new { id=item.ID }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Detalji", "Detalji", new { id=item.ID }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Izbriši", "Izbrisi", new { id=item.ID }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
