@model StomatoloskaOrdinacija.Domain.DTOs.TrajanjeZahvataDTO

@{
    ViewBag.Title = "Izbriši trajanje zahtjeva";
}

<h2>@ViewBag.Title</h2>

<h3>Jeste li sigurni da želite obrisati ovu stavku?</h3>
<div>
    <h4>Trajanje zahvata</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Trajanje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trajanje)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Izbriši" class="btn btn-danger" /> |
            @Html.ActionLink("Povratak na popis", "Popis", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
