@model IEnumerable<StomatoloskaOrdinacija.Domain.DTOs.TrajanjeZahvataDTO>

@{
    ViewBag.Title = "Popis trajanja zahvata";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Novo trajanje zahvata", "Izradi", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Trajanje)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Trajanje)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Uredi", new { id=item.ID }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Izbriši", "Izbriši", new { id=item.ID }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
